<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @muster_location.name %>
</p>

<%= link_to 'Edit', edit_muster_location_path(@muster_location) %> |
<%= link_to 'Back', muster_locations_path %>
