<div class="container">
  <div class="row">
    <h3>Building</h3>
    <div class="column">
      <table class="table table-hover">
        <tbody>
          <th>Building Number</th>
          <th>Location Name</th>
                        
            <% @buildings.each do |building| %>
              <tr>
                <%= render building %>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to 'New Building', new_building_path %>
