<div class="container">
  <div class="row">
    <h3>Locations</h3>
    <div class="column">
      <table class="table table-hover">
        <tbody>
          <th>Location Number</th>
          <th>Location Name</th>
          <th>Building</th>
                        
            <% @locations.each do |location| %>
              <tr>
                <%= render location %>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<%= link_to 'New Location', new_location_path %>
